body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
padding:25px;
color: white;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
background-color:navy;
}

.a{
    color: black;
    background-color: white;
}

.a:hover{
    color:darkcyan;
}

canvas{
    margin-top: 50px;
    border:2px solid white;
    border-radius: 10px;
}